.notFoundPage {
    padding: 20px 0;
    background: #fff;
    font-family: inherit;
    margin-bottom: 20px;
    margin-top: 50px;
    height: 70vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
}
  
.container {
    margin: 0 auto;
    position: relative;    
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    z-index: 999;
}
  
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.fourZeroFourBg {
    display: flex;                 
    flex-direction: column;                
    align-items: center;  
    justify-content: center;
    background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif');
    height: 420px;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.contentBox404 {
    height: 150px;
    position: absolute;
    top: 82%;
    margin-top: 40px;
    padding: 12px;
}
  
.title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 70px;
    color: #333;
    font-family: inherit;
    /* margin-bottom: 80px; */
    height: 60px;
}
  
.subtitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
  
.text {
    font-size: 18px;
    color: #666;
    margin-bottom: 25px;
}
  
.link404 {
    color: #fff;
    padding: 10px 20px;
    background: orange;
    border-radius: 5px;
    font-size: 18px;
}
  
.link404:hover {
    background: darkorange;
}

/* TV ICON */
.iconTV {
    background-image: url("../../assets/tv.gif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 260px;
    margin-left: 150px;
}

.contentTV {
  /* height: 100vh; */
  display: grid;
  place-items: center;
  z-index: 5;
  position: relative;
}

/* .fuzzyOverlay {
  position: absolute;
  inset: -200%;
  background-image: url("../../assets/noise.png");
  opacity: 25%;
  z-index: 0;
  animation: shift 0.2s linear infinite both;
}

@keyframes shift {
  0% {
      transform: translateX(10%) translateY(10%);
  }

  100% {
      transform: translateX(-10%) translateY(-10%);
  }
} */
  
@media screen and (min-width: 480px) and (max-width: 768px) {
    .notFoundPage {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      height: 55vh; 
      padding: 0;
      margin-top: 100px;
      position: relative;
    }

    .container {
      position: relative;    
      top: 30%;
      left: 30%;
      transform: translate(-30%, -30%);
      z-index: 999;
    }

    .fourZeroFourBg {
      height: 410px;
      background-size: auto;
    }

    .contentBox404 {
      height: 150px;
      position: absolute;
      top: 85%;
      margin-bottom: 30px;
    }

    .title {
      font-size: 60px;
      position: absolute;
      top: -16%;
    }
  
    .subtitle {
      font-size: 20px;
    }
  
    p {
      font-size: 16px;
    }
  
    .link404 {
      font-size: 16px;
      padding: 8px 16px;
    }

    .iconTV {
      margin-top: 270px; 
      margin-left: 140px; 
      width: 90px;
      height: 70px;
  }
}
  
@media screen and (max-width: 480px) {
    .notFoundPage {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      height: 60vh; 
      padding: 0;
      position: relative;
      margin-top: 25px;
    }

    .container {
      position: relative;    
      top: 30%;
      left: 30%;
      transform: translate(-30%, -30%);
      z-index: 999;
    }

    .fourZeroFourBg {
      height: 340px;
      background-size: cover;
    }
  
    .title {
      font-size: 46px;
      height: 50px;
      position: absolute;
      top: 0;
    }
  
    .subtitle {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    }
  
    .link404 {
      font-size: 14px;
      padding: 6px 12px;
      padding: 12px 24px;
    }

    .iconTV {
      width: 70px;
      height: 60px;
      margin-top: 195px;
      margin-left: 80px;
      position: absolute;
      top: 0;
      left: -3%;
    }
}